header {
	width: 100%;
	height: 100px;
	background-image: url(../../resources/images/banner1.png);
	text-align: center;
	color: white;
}

footer {
	width: 100%;
	height: 50px;
	background-image: url(../../resources/images/footer_s.png);
	background-color: #69F;
	text-align: center;
	color: black;
}

.container {
	max-width: 930px;
}